<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Aladdin Browser</string>
	<key>CFBundleExecutable</key>
	<string>aladdin-browser</string>
	<key>CFBundleIconFile</key>
	<string>browser.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ai.aladdin.camoufox.launcher</string>
	<key>CFBundleName</key>
	<string>Aladdin Browser</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
